@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>
    <p>You are watching a complete inventory manager application developer by <strong>Luis Rosado Garrido</strong></p>
    <a class="text-danger" href="https://github.com/Xactol/InventoryManagerMVC"> Github´s Repository</a>
    </h4>
</div>
